@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cronometro {
    width: 700px;
    height: 500px;
    background-color: #F0F8FF;
    border-right: 2px solid #2F4F4F;
    border-bottom: 2px solid 	#2F4F4F;
    border-radius: 10px;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;

    letter-spacing: .1rem;
}

.title span {
  color: #2F4F4F;
}