.contador{
    font-size: 5rem;
    font-weight: 600;
    color: #2F4F4F;

    display: flex;
    justify-content: center;
}

.min {
    margin: 0 10px 0 0;
}

.seg {
    margin: 0 10px 0 10px;
}

.mil {
    margin-left: 10px;
}